body{
    margin: 0%;
    padding: 0%;
    background: #000000;
}

#bg{
    height: 150vh;
    width: 100%;
    background-color: black;
    z-index: -1;
}

#logo{
    position: absolute;
    display: inline-block;
    width: 45em;
    height: auto;
    margin: -10% 25%;
    opacity: 0%;
    z-index: 0;
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#controllers {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
}

#blocker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


h1{
    font-family: 'Outfit', sans-serif;
   color: white;
   font-size: 24px;
   position: absolute;
   left: 15%;
}

h2{
     font-family: 'Outfit', sans-serif;
    color: mediumslateblue;
    font-size: 24px;
    position: absolute;
}


.icon{
    width: auto; 
    height: 15%;
    position: relative;
    top: 1em;
    left: 35em;
}

img{
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 0;
    display: none;
}

img2{
    content:url(assets\\icon.png);
    position: relative;
    height: 18%;
    width: auto;

}

.lensimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -15%;
}

.welcome {
    position: relative;
    width: 85%; 
    height: 15%; 
    background-color: white;
    opacity: 50%;
    z-index: 100;
    top: 25%;
    left: -1300px;
    content-visibility: visible;
}

#container {
    display: grid; 
    grid-template-columns: 0.3fr 1fr 0.3fr; 
    grid-template-rows: 1.1fr 0.9fr; 
    gap: 0px 0px; 
    background-color: whitesmoke;
    z-index: 2;
    opacity: 0%;
    width: 100%;
    height: 140vh;
}

#video-controller{
    grid-area: 1 / 1 / 3 / 4;
    width: auto;
    height: 100%;
    display: block;
    z-index: 1;
}

.circle {
    grid-area: 1 / 2 / 3 / 3;
    justify-self: center; 
    align-self: center; 
    border: 3px solid lightsalmon;
    height: 50em;
    width: 50em;
    border-radius: 50%;
    overscroll-behavior: contain;
}

.info { 
    grid-area: 2 / 1 / 3 / 2;
    font-family: 'Outfit', sans-serif;
    border: 3px solid lightsalmon;
    margin: 1em 1em 10em 1em;
    opacity: 0;
}

.info2 { 
    grid-area: 2 / 1 / 3 / 2;
    font-family: 'Outfit', sans-serif;
    border: 3px solid lightsalmon;
    margin: 1em 1em 10em 1em;
    opacity: 0;
    word-wrap: break-word;
}

.info3 { 
    grid-area: 2 / 1 / 3 / 2;
    font-family: 'Outfit', sans-serif;
    border: 3px solid lightsalmon;
    margin: 1em 1em 10em 1em;
    opacity: 0;
}

.space-out { 
    grid-area: 1 / 1 / 2 / 2;
 }

.scrolling-text { 
    grid-area: 1 / 3 / 3 / 4;
    font-family: 'Outfit', sans-serif;
    text-align: left;
    border: 3px solid lightsalmon;
    margin: 1em 1em 1em -3.5em; 
    overflow:hidden;
}

#button1{
    border-color: red;
    color: black;
    justify-self: center; 
    align-self: end;
    position: relative;
    left: 28%;
    box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
    transition: all 150ms ease-in-out;
}

#button1:hover{
    box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
}

#container2 {
    display: grid; 
    grid-template-columns: 1.1fr 0.8fr 1.1fr; 
    grid-template-rows: 0.6fr 2.8fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "leftbox poem rightbox"
      "tagline tagline tagline"; 
    z-index: 1;
    opacity: 100;
    width: auto;
    height: 125vh;
}

.leftbox{
    justify-self: center; 
    align-self: center; 
    grid-area: 2 / 1 / 3 / 2; 
    background-color: rgb(17, 17, 17);
    border: 3px solid #bd191fb7;
    box-shadow: 1px 1px 10px 2px rgb(17,17,17);
}

.rightbox{
    justify-self: center; 
    align-self: center; 
    grid-area: 2 / 3 / 3 / 4; 
    background-color: rgb(17, 17, 17);
    border: 3px solid #bd191fb7;
    box-shadow: 1px 1px 10px 2px rgb(17,17,17);
}

.textrow {
    justify-self: center; 
    align-self: stretch; 
    grid-area: 2 / 2 / 3 / 3; 
    width: 75%; 
}

.poem {
    justify-self: center; 
    align-self: center; 
    grid-area: 2 / 2 / 3 / 3; 
    margin-top: 5em;
}

.textanim {
    grid-area: 1 / 1 / 2 / 4; 
    overflow: hidden;
  }

  .textbox1 {
    justify-self: end; 
    align-self: center; 
    grid-area: 1 / 3 / 2 / 4; 
    height: 1.5em; 
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
  }

  .textbox2 {
    justify-self: end; 
    align-self: center; 
    grid-area: 1 / 3 / 2 / 4; 
    height: 1.5em; 
    overflow:hidden;
    position: relative;
    word-wrap: break-word;
  }
  .textbox3 {
    justify-self: center; 
    align-self: end; 
    grid-area: 1 / 1 / 2 / 2; 
    height: 1.5em; 
    opacity: 0.0;
  }
  .textbox4 {
    justify-self: end; 
    align-self: center; 
    grid-area: 1 / 3 / 2 / 4; 
    height: 1.5em; 
    overflow:hidden;
    position: relative;
    word-wrap: break-word;
  }
  .textbox5 {
    justify-self: end; 
    align-self: center; 
    grid-area: 1 / 3 / 2 / 4; 
    height: 1.5em; 
    overflow:hidden;
    position: relative;
    word-wrap: break-word;
  }
  .textbox6 {
    justify-self: center; 
    align-self: center; 
    grid-area: 1 / 1 / 2 / 2; 
    height: 1.5em; 
    width: 50%;
    opacity: 0.0;
    text-align: center;
    margin-left: 25%;
  }

.tagline{
    font-family: 'M PLUS 1 Code', sans-serif;
    grid-area: 3 / 1 / 4 / 4;
    height: 100%;
    background-color: #F9191F;
}

.canvas {
  justify-self: center; 
  align-self: center; 
  grid-area: 2 / 1 / 3 / 2; 
  width: 89%; 
  height: 97.5%; 
}

.canvas2 {
  justify-self: center; 
  align-self: center; 
  grid-area: 2 / 3 / 3 / 4; 
  width: 89%; 
  height: 97.5%; 
}


.h2{
    left: 4%;
}

.h3{
    left: 3%;
}

.h4{
    left: 5.5%;
}

.p1{
    font-family: 'Outfit', sans-serif;
    color: white;
    text-align: center;
    position: aboslute;
}

.p2{
    font-family: 'Outfit', sans-serif;
    color: white;
}

.p3{
    display:block;
    font-family: 'Outfit', sans-serif;
    color: black;
    position: relative;
    text-align: right;
    padding-right: 1em;
    padding-top: 1em;
    opacity: 0.0;
}

.p4{
    font-family: 'Outfit', sans-serif;
    color: white;
    position: absolute;
    left: -650px;
}

.p5{
    font-family: 'Outfit', sans-serif;
    color: white;
    position: absolute;
    left: 1600px;
    white-space: nowrap;
}

.p6{
    font-family: 'Outfit', sans-serif;
    color: white;
    position: relative;
    left: 8%;
    white-space: nowrap;
}

.p7{
    display: flexbox;
    position: relative;
    top: 0;
    white-space: pre-line;
    word-wrap: break-word;
}

.p8{
    position: relative;
    top: 18%;
    left: 0.5em;
    right: 0.5em;
    color: mediumslateblue;
    white-space: pre-line;
    word-wrap: break-word;
}

.p9{
    color: black;
}

.p10{
    font-family: 'Outfit', sans-serif;
    color: rgb(255, 81, 81);
    position: absolute;
    left: 1630px;
}

.p11{
    font-family: 'Outfit', sans-serif;
    color: rgb(255, 81, 81);
    position: absolute;
    left: -190px;
}

.p12{
    font-family: 'Outfit', sans-serif;
    color: rgb(255, 81, 81);
    position: relative;
    left: 5px;
}


p{
    padding-top: 1em;
    font-size: 24px;
}

p1{
    position: relative;
    top: 1em;
    padding-left: 14.5em;
    text-shadow: 3px 3px 30px black;
}

p2{
    font-size: 18px;
}

p3{
    font-size: 52px;
}

p4{
    display:block;
    text-align: center; 
    font-size: 34px;
    padding-left: 0%;
}


p5{
    color:black;
    font-size: 18px;
}

p6{
    text-align: left;
    font-size: 18px;
}

p7{
    font-size: 20px;
}

p8{
    text-align: center; 
    font-size: 18px;
    position: relative;
    left: 42%;
}

#video-left{
    height: auto;
    width: 100%;
}