body{
    margin: 0%;
    padding: 0%;
    background: #000000;
}

#bg{
    display: sticky;
    width: 100%;
    height: 200em;
    background-color: black;
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#controllers {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
}

#blocker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

h1{
    font-family: 'M PLUS 1 Code', sans-serif;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 5%;
    left: 10%;
}

.icon{
    width: auto; 
    height: 30%;
    position: relative;
    top: 1em;
    left: 2em;
}

img{
    content:url(assets\\icon.png);
    height: 10%;
    width: auto;
    position: sticky;
    margin-top: auto;
}

.lensimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -15%;
}

.wellbox {
    position: relative;
    width: 75%; 
    height: 50%; 
    border: 1px solid #bd191fb7;
    background-color: rgba(255, 255, 255, 0.5);
}

/* .tagline{
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 24px;
    text-align: center;
    height: 10%;
    width: 30%;
    margin-top: 5%;
    margin-left: 35%;
    color: black;
    background-color: #F9191F;
} */

#container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 6em 65em 6em; 
    gap: 0px 0px; 
    background-color: grey;
}

.leftbox{
    justify-self: center; 
    align-self: center; 
    grid-area: 2 / 1 / 3 / 2; 
    width: 90%; 
    height: 98%; 
    background-color: rgb(17, 17, 17);
    border: 3px solid #bd191fb7;
    box-shadow: 1px 1px 10px 2px rgb(17,17,17);
}

.rightbox{
    justify-self: center; 
    align-self: center; 
    grid-area: 2 / 3 / 3 / 4; 
    width: 90%; 
    height: 98%; 
    background-color: rgb(17, 17, 17);
    border: 3px solid #bd191fb7;
    box-shadow: 1px 1px 10px 2px rgb(17,17,17);
}

.textrow {
    justify-self: center; 
    align-self: stretch; 
    grid-area: 2 / 2 / 3 / 3; 
    width: 75%; 
}

.poem {
    justify-self: center; 
    align-self: center; 
    grid-area: 2 / 2 / 3 / 3; 
    margin-top: 20em;
}

.textanim {
    grid-area: 1 / 1 / 2 / 4; 
    white-space: nowrap;
  }

  .textbox1 {
    width: 18.8%; 
    height: 1.5em; 
    border: 1px solid #bd191fb7;
    position: relative;
    top: 0;
  }

  .textbox2 {
    width: 20.5%; 
    height: 1.5em; 
    border: 1px solid #bd191fb7;
    position: relative;
    top: 0;
    left: 100px;
  }
  .textbox3 {
    width: 12.4%; 
    height: 1.5em; 
    border: 1px solid #bd191fb7;
    position: relative;
  }

.tagline{
    font-family: 'M PLUS 1 Code', sans-serif;
    grid-area: 3 / 1 / 4 / 4;
    background-color: #F9191F;
}

.canvas {
  justify-self: center; 
  align-self: center; 
  grid-area: 2 / 1 / 3 / 2; 
  width: 89%; 
  height: 97.5%; 
}

.canvas2 {
  justify-self: center; 
  align-self: center; 
  grid-area: 2 / 3 / 3 / 4; 
  width: 89%; 
  height: 97.5%; 
}

.p1{
    font-family: 'Outfit', sans-serif;
    color: white;
    text-align: center;
}

.p2{
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 34px;
    text-align: center; 
    color: black;
}

p{
    padding-top: 1em;
    font-size: 24px;
}

p1{
    position: relative;
    top: 1em;
    padding-left: 14.5em;
    text-shadow: 3px 3px 30px black;
}

p2{
    font-size: 20px;
}